@model MVCProject.Models.HouseHoldMemberModel

@{
    ViewBag.Title = "ViewMember";
}

<h2>ViewMember</h2>

<div>
    <h4>HouseHoldMemberModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationID)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Home")
</p>
